<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027116686419-v6i58e084rk4duikrhku7cjokis6tfrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027116686419-v6i58e084rk4duikrhku7cjokis6tfrb</string>
	<key>API_KEY</key>
	<string>AIzaSyApdUNnEU7tgv1CVyPGNYjTFPJjPoic5x8</string>
	<key>GCM_SENDER_ID</key>
	<string>1027116686419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LukichevSergey.Shopping-List</string>
	<key>PROJECT_ID</key>
	<string>shoplist-5e7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplist-5e7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027116686419:ios:f08162d6da5f63ebacbaa6</string>
	<key>DATABASE_URL</key>
	<string>https://shoplist-5e7bd-default-rtdb.firebaseio.com</string>
</dict>
</plist>